<!DOCTYPE html>
<html>
<head>
	<title>Django Articles</title>
	<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/app.css">
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="/static/semantic/dist/semantic.min.js"></script>
	<style type="text/css">
	</style>
</head>
<body>
	<div id="main" class="ui grid doubling">
		<div class="segment sixteen wide column">
			<div class="ui fixed inverted menu">
				<div class="ui container">
					<a href="#" class="header item">
						Django Articles
					</a>
					<a href="#" class="item">Home</a>
				</div>
			</div>
		</div>
		<div class="segment three wide column doubling">
			<div class="ui vertical menu">
				<div class="item">
					<div class="header">Kategorie</div>
					<div class="menu">
						<a class="item">Kategorie 1</a>
						<a class="item">Kategorie 2</a>
						<a class="item">Kategorie 3</a>
						<a class="item">Kategorie 4</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui segment nine wide column center aligned">
			{% block content %}
			{% endblock %}
		</div>
		<div class="ui segment three wide column right floated">
			
		</div>
	</div>
</body>
</html>