<div class="item">
	<div class="image">
		<img src="{{article.model_pic}}">
	</div>
	<div class="content">
		<a href="{% url 'article' article.id %}" class="header">{{article.header}}</a>
		{% if article.region %}
			<div class="meta">
				<a href="{% url 'region' article.region.name %}"><span>{{article.region}}</span></a>
			</div>
		{% endif %}
		<div class="description">
			<p>{{article.main_context}}</p>
		</div>
		<div class="extra">
			{% for cur_category in article.category.all %}
				<a href="{% url 'category' cur_category.name %}"><div class="ui button label">{{cur_category.name}}</div></a>
			{% endfor %}

			<span style="float: right;">{{article.date_added}}</span>
		</div>
	</div>
</div>